<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2rem","bottom":"4rem","left":"2rem","right":"2rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:2rem;padding-right:2rem;padding-bottom:4rem;padding-left:2rem">

	<!-- wp:post-featured-image {"style":{"border":{"radius":"8px"}}} /-->
	<!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

	<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"fontSize":"small","style":{"spacing":{"blockGap":"1rem"}}} -->
	<div class="wp-block-group has-small-font-size">
		<!-- wp:post-date /-->
		<!-- wp:post-author-name {"isLink":true} /-->
		<!-- wp:post-terms {"term":"category"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:separator {"style":{"spacing":{"margin":{"top":"2rem","bottom":"2rem"}}}} -->
	<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:2rem;margin-bottom:2rem"/>
	<!-- /wp:separator -->

	<!-- wp:post-comments-form /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
